<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thzw.oa.mapper.accreditedcountryinfoMapper" >
  <resultMap id="BaseResultMap" type="com.thzw.oa.entity.accreditedcountryinfo" >
    <id column="AccreditedCountryID" property="accreditedcountryid" jdbcType="INTEGER" />
    <result column="AccreditedCountryName" property="accreditedcountryname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    AccreditedCountryID, AccreditedCountryName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from accreditedcountryinfo
    where AccreditedCountryID = #{accreditedcountryid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from accreditedcountryinfo
    where AccreditedCountryID = #{accreditedcountryid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.thzw.oa.entity.accreditedcountryinfo" >
    insert into accreditedcountryinfo (AccreditedCountryID, AccreditedCountryName
      )
    values (#{accreditedcountryid,jdbcType=INTEGER}, #{accreditedcountryname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.thzw.oa.entity.accreditedcountryinfo" >
    insert into accreditedcountryinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accreditedcountryid != null" >
        AccreditedCountryID,
      </if>
      <if test="accreditedcountryname != null" >
        AccreditedCountryName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accreditedcountryid != null" >
        #{accreditedcountryid,jdbcType=INTEGER},
      </if>
      <if test="accreditedcountryname != null" >
        #{accreditedcountryname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.thzw.oa.entity.accreditedcountryinfo" >
    update accreditedcountryinfo
    <set >
      <if test="accreditedcountryname != null" >
        AccreditedCountryName = #{accreditedcountryname,jdbcType=VARCHAR},
      </if>
    </set>
    where AccreditedCountryID = #{accreditedcountryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.thzw.oa.entity.accreditedcountryinfo" >
    update accreditedcountryinfo
    set AccreditedCountryName = #{accreditedcountryname,jdbcType=VARCHAR}
    where AccreditedCountryID = #{accreditedcountryid,jdbcType=INTEGER}
  </update>
</mapper>