<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thzw.oa.mapper.accreditedvillageinfoMapper" >
  <resultMap id="BaseResultMap" type="com.thzw.oa.entity.accreditedvillageinfo" >
    <id column="AccreditedVillageID" property="accreditedvillageid" jdbcType="INTEGER" />
    <result column="AccreditedVillageName" property="accreditedvillagename" jdbcType="VARCHAR" />
    <result column="AccreditedTownID" property="accreditedtownid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    AccreditedVillageID, AccreditedVillageName, AccreditedTownID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.thzw.oa.entity.accreditedvillageinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from accreditedvillageinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from accreditedvillageinfo
    where AccreditedVillageID = #{accreditedvillageid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from accreditedvillageinfo
    where AccreditedVillageID = #{accreditedvillageid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.thzw.oa.entity.accreditedvillageinfoExample" >
    delete from accreditedvillageinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.thzw.oa.entity.accreditedvillageinfo" >
    insert into accreditedvillageinfo (AccreditedVillageID, AccreditedVillageName, 
      AccreditedTownID)
    values (#{accreditedvillageid,jdbcType=INTEGER}, #{accreditedvillagename,jdbcType=VARCHAR}, 
      #{accreditedtownid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.thzw.oa.entity.accreditedvillageinfo" >
    insert into accreditedvillageinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accreditedvillageid != null" >
        AccreditedVillageID,
      </if>
      <if test="accreditedvillagename != null" >
        AccreditedVillageName,
      </if>
      <if test="accreditedtownid != null" >
        AccreditedTownID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accreditedvillageid != null" >
        #{accreditedvillageid,jdbcType=INTEGER},
      </if>
      <if test="accreditedvillagename != null" >
        #{accreditedvillagename,jdbcType=VARCHAR},
      </if>
      <if test="accreditedtownid != null" >
        #{accreditedtownid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.thzw.oa.entity.accreditedvillageinfoExample" resultType="java.lang.Integer" >
    select count(*) from accreditedvillageinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update accreditedvillageinfo
    <set >
      <if test="record.accreditedvillageid != null" >
        AccreditedVillageID = #{record.accreditedvillageid,jdbcType=INTEGER},
      </if>
      <if test="record.accreditedvillagename != null" >
        AccreditedVillageName = #{record.accreditedvillagename,jdbcType=VARCHAR},
      </if>
      <if test="record.accreditedtownid != null" >
        AccreditedTownID = #{record.accreditedtownid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update accreditedvillageinfo
    set AccreditedVillageID = #{record.accreditedvillageid,jdbcType=INTEGER},
      AccreditedVillageName = #{record.accreditedvillagename,jdbcType=VARCHAR},
      AccreditedTownID = #{record.accreditedtownid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.thzw.oa.entity.accreditedvillageinfo" >
    update accreditedvillageinfo
    <set >
      <if test="accreditedvillagename != null" >
        AccreditedVillageName = #{accreditedvillagename,jdbcType=VARCHAR},
      </if>
      <if test="accreditedtownid != null" >
        AccreditedTownID = #{accreditedtownid,jdbcType=INTEGER},
      </if>
    </set>
    where AccreditedVillageID = #{accreditedvillageid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.thzw.oa.entity.accreditedvillageinfo" >
    update accreditedvillageinfo
    set AccreditedVillageName = #{accreditedvillagename,jdbcType=VARCHAR},
      AccreditedTownID = #{accreditedtownid,jdbcType=INTEGER}
    where AccreditedVillageID = #{accreditedvillageid,jdbcType=INTEGER}
  </update>
</mapper>